@charset "UTF-8";

*{
  font-family: "Optima"; margin: 0; padding: 0;
}
body{
  *zoom: 1;
}

/* //////////////////////////////////////////////////////
                    NAVIGATION BAR
////////////////////////////////////////////////////// */

.navbar{
  background-color: #fff;
  -webkit-transition: top 0.5s ease-in-out, opacity .2s ease-in-out;
  -moz-transition: top 0.5s ease-in-out, opacity .2s ease-in-out;
  -o-transition: top 0.5s ease-in-out, opacity .2s ease-in-out;
  transition: top 0.5s ease-in-out, opacity .2s ease-in-out;
  z-index: 1200;
}
.nav-down{
  top: 0px; opacity: 0.9;
}
.nav-up{
  top: -200px; opacity: 0.3;
}
#name{
  font-weight: 400;
  color: rgb(150,0,0);
  font-size: 30px;
  margin-left: 40px;
  text-shadow: 1px 1px rgba(50,50,50,0.4);
}
#name span{
  font-weight: 600;
}
#myNavbar ul li a{
  color: rgb(60,60,60); font-size: 16px; text-align: right;
}
#myNavbar ul li a:hover{
  -webkit-transition: color .4s, background-color .3s;
  -moz-transition: color .4s, background-color .3s;
  -o-transition: color .4s, background-color .3s;
  transition: color .4s, background-color .3s;
  color: #fff;
  background-color: rgba(100,0,0,.2);
}
.navbar-toggle{
  border-color: rgb(60,60,60) !important;
}
.navbar-toggle:hover{
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  background-color: rgba(100,0,0,.3);
}
.icon-bar {
  background-color: rgb(60,60,60) !important;
}

header {
  overflow: hidden; padding-bottom: 65%;
}
@media (min-width: 400px) {
  header { padding-bottom: 60%; }
}
@media (min-width: 600px) {
  header { padding-bottom: 45%; }
}
@media (min-width: 700px) {
  header { padding-bottom: 40%; }
}
@media (min-width: 800px) {
  header { padding-bottom: 35%; }
}
header img {
  width: 100%;
  max-width: none;
  position: fixed;
  vertical-align: middle;
  max-width: 100%;
  min-width: 1000px;
  top: 0%;
}
main {
  padding: 0;
  position: relative;
  background: #434A53;
  color:#fff;
  box-shadow: 0px -20px 60px rgba(0, 0, 0, 0.34);
}

/* //////////////////////////////////////////////////////
                    HOME SECTION
////////////////////////////////////////////////////// */
/*
#homeContainer{
  width: 100%;
  height: 460px;
  text-align: center;
  background-size: cover;
  background-image: url("images/cornellBackground.jpg");
}*/

/* //////////////////////////////////////////////////////
                    PROJECTS SECTION
////////////////////////////////////////////////////// */

.sectionHeader{
  height: 80px; margin: 0px; padding-top: 10px; margin-bottom: 50px;
}
.sectionHeader div{
  position: absolute;
  width: 350px;
  height: 80px;
  right: 4%;
  text-align: right;  
  -webkit-transition: -webkit-transform 0.8s, opacity 1s;
  -moz-transition: -moz-transform 0.8s, opacity 1s;
  transition: transform 0.8s, opacity 1s;
}
.headerAnimation{
  opacity: 0;
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  transform: translateX(5%);
}
.sectionHeader div h1{
  position: relative;
  color: rgb(150,0,0);
  font-weight: 400;
  font-size: 40px;
  padding: 10px 30px 15px 0px;
  bottom: 10px;
  right: 15px;
  border-bottom: 2px solid #000;
  z-index: 1000;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  /*border-right: 2px solid rgb(50,50,50);*/
}
.sectionHeader div h1 span{
  font-weight: 600;
}
#projectsContainer{
  width: 100%; text-align: center; background-color: #fff;
}
.projectTileContainer{
    margin: 3% 0% 8% 0%; text-align: center;
}
figure{
  width: 80%; margin: 0 auto;
}

/* //////////////////////////////////////////////////////
              POPOVER PROJECT TILE SECTION
////////////////////////////////////////////////////// */

.black_overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.7;
  opacity:.7;
  filter: alpha(opacity=70);
  overflow: hidden;
}
.black_overlay a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  overflow: hidden;
}
.projectPopover{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -55px;
  background-color: rgba(0,0,0,0.6);
  border: 2px solid white;
  overflow: hidden;
  z-index: 1003;
}
.projectLinks{
  width: 100%;
  color: #fff;
  position: relative;
}
.projectLinkTile{
  text-align: center;
  opacity: 1;
  padding: 20px 0;
}
.projectLinkTile a{
  z-index: 1004;
}
.popoverHeader{
  width: 250px;
  color: #fff;
  text-align: center;
}
.popoverHeader h2{
  margin: 0 auto;
  padding: 10px;
  font-weight: 250;
}
.popoverHeader h2 span{
  font-weight: 600;
}
#projectGithubIcon{
  width: 40px; height: 40px; content: url("images/links/githubIconWhite.png")
}
#projectGithubIcon:hover{
  width: 40px; height: 40px; content: url("images/links/githubIconRed.png")
}
#projectImagesIcon{
  width: 45px; height: 45px; content: url("images/links/imagesIconWhite.png")
}
#projectImagesIcon:hover{
  width: 45px; height: 45px; content: url("images/links/imagesIconRed.png")
}




#minesweeperInfo .slideshow img{
  width: 50%; height: 100%; left: 25%;
}
#towerdefenseInfo .slideshow img{
  width: 100%; height: 100%; left: 0;
}
#processorInfo .slideshow img{
  width: 100%; height: 100%; left: 0;
}

.slideshowLabels {
  position: relative;
  text-align: center;
  padding-top: 360px;
  padding-left: 2em;
  color: gray;
  z-index: 1010;
}
.slideshowLabels span {
  font-weight: 800; padding-right: 2em; cursor:pointer;
}
.slideshowLabels span:hover{
  color: black; transition: color 0.4s;
}
.selected{
  color: black;
}
.slideshow {
  position: relative; width: 460px; height: 400px; overflow: visible;
}
.slideshow img {
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1009;
}
.slideshow img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* //////////////////////////////////////////////////////
                    ABOUT SECTION
////////////////////////////////////////////////////// */

#aboutContainer{
  width: 100%;
  text-align: center;
  background-size: cover;
  background-image: url("images/yosemite.jpg");
}
.blocks{
  margin: 30px auto; text-align: center;
}
.blocks div{
  background-color: rgba(255,255,255,0.8);
  padding: 3%;
  line-height: 1.7em;
  border-radius: 10px;
  margin: 7% 15% 0% 15%;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  -moz-transition: -moz-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
}
.blocks div p{
  font-size: 16px;
}
.blockLeft {
  opacity: 0;
  -webkit-transform: translate3d(-70px,40px,0);
  -moz-transform: translate3d(-70px,40px,0);
  transform: translate3d(-70px,40px,0);
}
.blockRight {
  opacity: 0;
  -webkit-transform: translate3d(70px,40px,0);
  -moz-transform: translate3d(70px,40px,0);
  transform: translate3d(70px,40px,0);
}

/* //////////////////////////////////////////////////////
                  EXTERNAL LINKS SECTION
////////////////////////////////////////////////////// */

#links{
  width: 100%;
  padding: 3.5%;
  margin-top: 70px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: relative;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.linksSlide{
  opacity: 0;
  -webkit-transform: translateY(45px);
  -moz-transform: translateY(45px);
  transform: translateY(45px);
}
.linkTile{
  text-align: center;
}
.linkTile div{
  -webkit-transition: -webkit-transform 1.4s, opacity 1.4s;
  -moz-transition: -moz-transform 1.4s, opacity 1.4s;
  transition: transform 1.4s, opacity 1.4s;
}
.linkUp{
  opacity: 0;
  -webkit-transform: translateY(5%);
  -moz-transform: translateY(5%);
  transform: translateY(5%);
}
.linkUpLeft{
  opacity: 0;
  -webkit-transform: translate3d(-15px,5%,0);
  -moz-transform: translate3d(-15px,5%,0);
  transform: translate3d(-15px,5%,0);
}
.linkUpRight{
  opacity: 0;
  -webkit-transform: translate3d(15px,5%,0);
  -moz-transform: translate3d(15px,5%,0);
  transform: translate3d(15px,5%,0);
}
#githubIcon{
  width: 50px; height: 50px; content: url("images/links/githubIconWhite.png")
}
#githubIcon:hover{
  width: 50px; height: 50px; content: url("images/links/githubIconRed.png")
}
#linkedinIcon{
  width: 50px; height: 50px; content: url("images/links/linkedinIconWhite.png")
}
#linkedinIcon:hover{
  width: 50px; height: 50px; content: url("images/links/linkedinIconRed.png")
}
#resumeIcon{
  width: 50px; height: 50px; content: url("images/links/resumeIconWhite.png")
}
#resumeIcon:hover{
  width: 50px; height: 50px; content: url("images/links/resumeIconRed.png")
}


/* //////////////////////////////////////////////////////
                  FOOTER SECTION
////////////////////////////////////////////////////// */

#myFooter{
  background-color: rgba(0,0,0,1);
  width: 100%;
  padding: 1.5em 0;
  color: rgb(230,230,230);
  font-size: 13px;
  text-align: center;
}
