@charset "UTF-8";

*{
  font-family: "Optima"; 
  margin: 0px;
  padding: 0px;
}

/* Navigation bar items */
.navbar{
  background-color: rgb(255,255,255);
  transition: top 0.5s ease-in-out, opacity .3s ease-in-out;
}
.nav-down{
  top: 0px;
  opacity: 0.9;
}
.nav-up{
  top: -100px;
  opacity: 0.3;
}
#name{
  color: rgb(150,0,0);
  font-size: 30px;
  margin-left: 40px;
}
#myNavbar ul li a{
  color: rgb(60,60,60);
  font-size: 16px;
  text-align: right;
}
#myNavbar ul li a:hover{
  transition: color .4s, background-color .3s;
  color: rgb(255,255,255);
  background-color: rgba(100,0,0,.2);
}
.navbar-toggle{
  border-color: rgb(60,60,60) !important;
}
.navbar-toggle:hover{
  transition: background-color .5s;
  background-color: rgba(100,0,0,.3);
}
.icon-bar {
  background-color: rgb(60,60,60) !important;
}


/* Bottom links container */
#links{
  height: 120px;
  padding-top: 35px;
  background-color: rgba(37,123,246,.7);
  text-align: center;
  color: #ffffff;
}
#githubIcon{
  width: 50px;
  height: 50px;
  content: url("images/githubIconWhite.png")
}
#githubIcon:hover{
  width: 50px;
  height: 50px;
  content: url("images/githubIconBlack.png")
}
#linkedinIcon{
  width: 50px;
  height: 50px;
  content: url("images/linkedinIconWhite.png")
}
#linkedinIcon:hover{
  width: 50px;
  height: 50px;
  content: url("images/linkedinIconBlack.png")
}
#resumeIcon{
  width: 50px;
  height: 50px;
  content: url("images/resumeIconWhite.png")
}
#resumeIcon:hover{
  width: 50px;
  height: 50px;
  content: url("images/resumeIconBlack.png")
}

#home{
  background-color: #ffffff;
  height: auto;
}
#home img{
  width: 100%;
  padding-left: -10px;
}

#projects{
  height: 500px;
  background-color: #ffffff;
}

#about{
  height: 500px;
  background-color: rgba(220,220,220,.7)
}


#myFooter{
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 50px;
  padding: 15px;
  color: rgb(230,230,230);
  font-size: 12px;
  text-align: center;
}

#happiness{
  height: 50px;
  background-color: rgb(200,0,0);
}